<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h2 class="card-title text-center mb-5 fw-bold fs-15">Loan App</h2>
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
          <form (ngSubmit) = "save()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" [(ngModel)] = "user.name"  placeholder="Username" >
              <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="dob" name="dob" [(ngModel)] = "user.dob" placeholder="Date of Birth">
              <label for="floatingInput">Date of Birth</label>
            </div>

            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="mobile" name="mobile" [(ngModel)] = "user.mobile" placeholder="Mobile">
              <label for="floatingInput">Mobile</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)] = "user.email" placeholder="Email">
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" [(ngModel)] = "user.password" placeholder="Password">
              <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="cnfPassword" name="cnfPassword" [(ngModel)] = "user.cnfPassword" placeholder="Confirm Password">
              <label for="floatingPassword">Confirm Password</label>
            </div>
            <div class="invalid-feedback"></div>

            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" id="submit-btn" type="submit">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>