<form >
    
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username : </label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
      </div>

      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email : </label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
      </div>

      <div class="mb-3 mt-3">
        <label for="phone" class="form-label">phone : </label>
        <input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" maxlength="10" pattern="^\d{3}-\d{3}-\d{4}$" required>
      </div>

      <div class="mb-3 mt-3">
        <label for="dob" class="form-label">Date of Birth : </label>
        <input type="date" class="form-control" id="dob" name="dob"required>
      </div>

      <div class="mb-3 mt-3">
        <label for="pwd" class="form-label">Password : </label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="password" required>
      </div>

      <div class="mb-3">
        <label for="cnf_pwd" class="form-label">Confirm Password : </label>
        <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="cnf_pwd" required>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>
