<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Nationality</th>
        <th>Employee Id</th>
        <th>Aadhaar</th>
        <th>Amount</th>
        <th>Status</th>
        <th style="text-align:center;">Action</th>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-danger" (click) = "approve()">Approve</button> <button class="btn btn-danger" (click) = "reject()">Reject</button></td>
    </tr>
</table>