
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Nationality</th>
        <th>Employee Id</th>
        <th>Aadhaar</th>
        <th>Amount</th>
        <th>Status</th>
        <th style="text-align:center;">Action</th>
    </tr>

    <tr let *ngFor = "let a of users;">
        <td>{{a.name}}</td>
        <td>{{a.dob}}</td>
        <td>{{a.mobile}}</td>
        <td>{{a.email}}</td>
        <td>{{a.address}}</td>
        <td>{{a.nationality}}</td>
        <td>{{a.empId}}</td>
        <td>{{a.aadhaar}}</td>
        <td>{{a.amount}}</td>
        <td>{{a.status}}</td>
        <td><button class="btn btn-danger" (click) = "action(a.name,'approve')">Approve</button> <button class="btn btn-danger" (click) = "action(a.name,'reject')">Reject</button></td>
    </tr>
</table>